####  World Agricultural Outlook (2000-2019)
##### (Part-1 / Exploratory Data Analysis)

Objective:

    1. This study was prepared using the OECD database.
    2. The date range was selected between 2000-2019(For 20 years).

    3. The aim of the study is to examine whether the world agriculture and livestock production is at a sufficient level according to the increasing population.

    4. In addition, it is the evaluation of the hypotheses regarding the correlation between global warming and cattle breeding with data.
    
    5. Another purpose is the comparison of states in agriculture and livestock production and consumption.

OECD Source Link: https://stats.oecd.org

#### Import Libraries

In [3]:
import pandas as pd
import numpy as np
import array as arr

import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

from scipy import stats

#### Read csv's and infos

In [27]:
wa = pd.read_csv("world_agricultore.csv")

In [84]:
wp = pd.read_csv("world_population_total_bysex.csv")

In [85]:
cy = pd.read_csv("country_year.csv")

In [86]:
wa.head(2)

,COUNTRY,Country,COMMODITY,Commodity,VARIABLE,Variable,TIME,Time,Value,Flag Codes,Flags
0,WLD,World,WT,Wheat,QP,"Production, kt (for Biofuels in millions of li...",2000,2000,585705.5797,NaN,NaN
1,WLD,World,WT,Wheat,QP,"Production, kt (for Biofuels in millions of li...",2001,2001,588610.4753,NaN,NaN

In [87]:
wp.head(2)

,LocID,Location,VarID,Variant,Time,MidPeriod,PopMale,PopFemale,PopTotal,PopDensity
0,4,Afghanistan,2,Medium,1950,1950.5,4099.243,3652.874,7752.117,11.874
1,4,Afghanistan,2,Medium,1951,1951.5,4134.756,3705.395,7840.151,12.009

In [88]:
cy.head(2)

,wa_all,wa_country,wa_org,wp_all,wp_country,wp_org,years,abbrv,meaning
0,World,Australia,World,World,Australia,World,2000.0,QP,Production
1,OECD,Canada,OECD,Organisation for Economic Co-operation and Dev...,Canada,Organisation for Economic Co-operation and Dev...,2001.0,IM,Imports

In [89]:
wa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 197739 entries, 0 to 197738
Data columns (total 11 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   COUNTRY     197739 non-null  object
 1   Country     197739 non-null  object
 2   COMMODITY   197739 non-null  object
 3   Commodity   197739 non-null  object
 4   VARIABLE    197739 non-null  object
 5   Variable    197739 non-null  object
 6   TIME        197739 non-null  int64
 7   Time        197739 non-null  int64
 8   Value       197739 non-null  float64
 9   Flag Codes  0 non-null       float64
 10  Flags       0 non-null       float64
dtypes: float64(3), int64(2), object(6)
memory usage: 16.6+ MB

In [90]:
wp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 280932 entries, 0 to 280931
Data columns (total 10 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   LocID       280932 non-null  int64
 1   Location    280932 non-null  object
 2   VarID       280932 non-null  int64
 3   Variant     280932 non-null  object
 4   Time        280932 non-null  int64
 5   MidPeriod   280932 non-null  float64
 6   PopMale     250876 non-null  float64
 7   PopFemale   250876 non-null  float64
 8   PopTotal    280932 non-null  float64
 9   PopDensity  280932 non-null  float64
dtypes: float64(5), int64(3), object(2)
memory usage: 21.4+ MB

In [91]:
cy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   wa_all      52 non-null     object
 1   wa_country  41 non-null     object
 2   wa_org      10 non-null     object
 3   wp_all      52 non-null     object
 4   wp_country  41 non-null     object
 5   wp_org      10 non-null     object
 6   years       20 non-null     float64
 7   abbrv       19 non-null     object
 8   meaning     19 non-null     object
dtypes: float64(1), object(8)
memory usage: 3.8+ KB

In [92]:
wa.shape

(197739, 11)

In [93]:
wp.shape

(280932, 10)

In [94]:
cy.shape

(52, 9)

In [95]:
wa.describe()

                TIME           Time         Value  Flag Codes  Flags
count  197739.000000  197739.000000  1.977390e+05         0.0    0.0
mean     2009.592554    2009.592554  1.275999e+04         NaN    NaN
std         5.770262       5.770262  9.900262e+04         NaN    NaN
min      2000.000000    2000.000000 -1.027303e+05         NaN    NaN
25%      2005.000000    2005.000000  1.400000e+00         NaN    NaN
50%      2010.000000    2010.000000  8.543534e+01         NaN    NaN
75%      2015.000000    2015.000000  1.550980e+03         NaN    NaN
max      2019.000000    2019.000000  8.781220e+06         NaN    NaN

In [96]:
wp.describe()

,LocID,VarID,Time,MidPeriod,PopMale,PopFemale,PopTotal,PopDensity
count,280932.000000,280932.000000,280932.000000,280932.000000,2.508760e+05,2.508760e+05,2.809320e+05,280932.000000
mean,703.125062,22.411345,2051.026494,2051.526494,2.324362e+05,2.298754e+05,4.128536e+05,426.659040
std,631.959759,55.972847,33.642148,33.642148,6.938837e+05,6.829825e+05,1.308911e+06,2418.990784
min,4.000000,2.000000,1950.000000,1950.500000,6.812000e+00,6.889000e+00,1.510000e-01,0.052000
25%,300.000000,2.000000,2031.000000,2031.500000,1.847834e+03,1.860604e+03,1.240100e+03,34.205250
50%,586.000000,5.000000,2055.000000,2055.500000,1.136849e+04,1.164585e+04,1.420555e+04,91.590000
75%,903.000000,9.000000,2078.000000,2078.500000,8.526402e+04,8.648854e+04,1.171661e+05,216.985750
max,5501.000000,207.000000,2100.000000,2100.500000,1.092000e+07,1.071273e+07,2.163274e+07,56025.839000

In [97]:
cy.describe()

            years
count    20.00000
mean   2009.50000
std       5.91608
min    2000.00000
25%    2004.75000
50%    2009.50000
75%    2014.25000
max    2019.00000

#### Creating Lists from cy dataset

In [98]:
cy.head(1)

  wa_all wa_country wa_org wp_all wp_country wp_org   years abbrv     meaning
0  World  Australia  World  World  Australia  World  2000.0    QP  Production

In [99]:
wa_all_list = list(cy.wa_all.unique())
wa_country_list = list(cy.wa_country.unique())
wa_org_list = list(cy.wa_org.unique())
wp_all_list = list(cy.wp_all.unique())
wp_country_list = list(cy.wp_country.unique())
wp_org_list = list(cy.wp_org.unique())
years_list = list(cy.years.unique())
abbr_list = list(cy.abbrv.unique())
mean_list = list(cy.meaning.unique())

In [100]:
wa_country_list.pop(-1)
wa_org_list.pop(-1)
wp_country_list.pop(-1)
wp_org_list.pop(-1)
years_list.pop(-1)
abbr_list.pop(-1)
mean_list.pop(-1)

nan

In [101]:
wp_org_list

['World',
 'Organisation for Economic Co-operation and Development (OECD)',
 'More developed regions',
 'ESCAP: ADB Developing member countries (DMCs)',
 'ESCAP: Least Developed Countries (LDCs)',
 'European Union (EU: 28)',
 'WHO: European Region (EURO)',
 'Africa',
 'Latin America and the Caribbean',
 'Asia']

#### Drop wa & wp Columns

In [102]:
wa.head(1)

,COUNTRY,Country,COMMODITY,Commodity,VARIABLE,Variable,TIME,Time,Value,Flag Codes,Flags
0,WLD,World,WT,Wheat,QP,"Production, kt (for Biofuels in millions of li...",2000,2000,585705.5797,NaN,NaN

In [103]:
wa.drop(columns=["Flag Codes","Flags","COUNTRY","COMMODITY","TIME"], inplace=True)

In [104]:
wa.head(1)

,Country,Commodity,VARIABLE,Variable,Time,Value
0,World,Wheat,QP,"Production, kt (for Biofuels in millions of li...",2000,585705.5797

In [105]:
wp.head(1)

,LocID,Location,VarID,Variant,Time,MidPeriod,PopMale,PopFemale,PopTotal,PopDensity
0,4,Afghanistan,2,Medium,1950,1950.5,4099.243,3652.874,7752.117,11.874

In [106]:
wp.drop(columns=["LocID","VarID","Variant","MidPeriod","PopDensity"], inplace=True)

In [107]:
wp.head(1)

      Location  Time   PopMale  PopFemale  PopTotal
0  Afghanistan  1950  4099.243   3652.874  7752.117

#### Rename the wa Columns

In [108]:
wa.rename(columns = {'VARIABLE':'Var_abbr', 'Variable':'Var_expl'}, inplace = True)
wp.rename(columns = {'Location':'Country'}, inplace = True)

#### Insert & Reordering Population Columns to wa

In [109]:
wa.head(1)

,Country,Commodity,Var_abbr,Var_expl,Time,Value
0,World,Wheat,QP,"Production, kt (for Biofuels in millions of li...",2000,585705.5797

In [110]:
wa['Var_mean'] = wa['Var_abbr']
wa['PopTotal'] = wa['Country']
wa['PopMale'] = wa['Country']
wa['PopFemale'] = wa['Country']

In [111]:
wa.head(1)

,Country,Commodity,Var_abbr,Var_expl,Time,Value,Var_mean,PopTotal,PopMale,PopFemale
0,World,Wheat,QP,"Production, kt (for Biofuels in millions of li...",2000,585705.5797,QP,World,World,World

In [112]:
wa = wa.iloc[:, [0,1,2,6,3,4,5,7,8,9]]

In [113]:
wa.head(1)

,Country,Commodity,Var_abbr,Var_mean,Var_expl,Time,Value,PopTotal,PopMale,PopFemale
0,World,Wheat,QP,QP,"Production, kt (for Biofuels in millions of li...",2000,585705.5797,World,World,World

#### Reordering Columns wp

In [114]:
wp.head(1)

       Country  Time   PopMale  PopFemale  PopTotal
0  Afghanistan  1950  4099.243   3652.874  7752.117

In [115]:
wp = wp.iloc[:, [0,1,4,2,3]]

In [116]:
wp.head(1)

       Country  Time  PopTotal   PopMale  PopFemale
0  Afghanistan  1950  7752.117  4099.243   3652.874

#### Insert the Meanings of Var_abbr to Var_mean

In [117]:
wa.head(2)

,Country,Commodity,Var_abbr,Var_mean,Var_expl,Time,Value,PopTotal,PopMale,PopFemale
0,World,Wheat,QP,QP,"Production, kt (for Biofuels in millions of li...",2000,585705.5797,World,World,World
1,World,Wheat,QP,QP,"Production, kt (for Biofuels in millions of li...",2001,588610.4753,World,World,World

In [118]:
var_mean_dict = dict(zip(abbr_list, mean_list))
var_mean_dict

{'QP': 'Production',
 'IM': 'Imports',
 'QC': 'Consumption',
 'ST': 'Ending_stocks',
 'EX': 'Exports',
 'NT': 'Trade_balance',
 'AH': 'Area_harvested',
 'FE': 'Feed',
 'FO': 'Food',
 'BF': 'Biofuel_use',
 'OU': 'Other_use',
 'YLD': 'Yield',
 'XP': 'World_Price',
 'PC': 'Consumption_per_cap',
 'PP': 'Producer_price',
 'CR': 'Crush',
 'CI': 'Cow_inventory',
 'QP__BME': 'Ethanol_Bio',
 'QP__BMD': 'Biodiesel_Bio'}

In [119]:
wa["Var_mean"].replace(var_mean_dict, inplace=True)

In [120]:
wa.head(2)

,Country,Commodity,Var_abbr,Var_mean,Var_expl,Time,Value,PopTotal,PopMale,PopFemale
0,World,Wheat,QP,Production,"Production, kt (for Biofuels in millions of li...",2000,585705.5797,World,World,World
1,World,Wheat,QP,Production,"Production, kt (for Biofuels in millions of li...",2001,588610.4753,World,World,World

#### Drop the wp values before the year 2000

In [121]:
wp = wp[wp['Time'] >= 2000]

In [122]:
wp.head(1)

        Country  Time   PopTotal    PopMale  PopFemale
50  Afghanistan  2000  20779.957  10689.508  10090.449

#### Select only the concurrent all country names from wp to wp1

In [123]:
wp.Country.unique()

array(['Afghanistan', 'Africa', 'African Group', 'African Union',
       'African Union: Central Africa', 'African Union: Eastern Africa',
       'African Union: Northern Africa', 'African Union: Southern Africa',
       'African Union: Western Africa',
       'African, Caribbean and Pacific (ACP) Group of States', 'Albania',
       'Algeria', 'American Samoa', 'Andean Community', 'Andorra',
       'Angola', 'Anguilla', 'Antigua and Barbuda', 'Argentina',
       'Armenia', 'Aruba', 'Asia',
       'Asia-Pacific Economic Cooperation (APEC)', 'Asia-Pacific Group',
       'Association of Southeast Asian Nations (ASEAN)', 'Australia',
       'Australia/New Zealand', 'Austria', 'Azerbaijan', 'BRIC', 'BRICS',
       'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus',
       'Belgium', 'Belize', 'Belt-Road Initiative (BRI)',
       'Belt-Road Initiative: Africa', 'Belt-Road Initiative: Asia',
       'Belt-Road Initiative: Europe',
       'Belt-Road Initiative: Latin America and the Caribbean',
       'Belt-Road Initiative: Pacific', 'Benin', 'Bermuda', 'Bhutan',
       'Black Sea Economic Cooperation (BSEC)',
       'Bolivarian Alliance for the Americas (ALBA)',
       'Bolivia (Plurinational State of)',
       'Bonaire, Sint Eustatius and Saba', 'Bosnia and Herzegovina',
       'Botswana', 'Brazil', 'British Virgin Islands',
       'Brunei Darussalam', 'Bulgaria', 'Burkina Faso', 'Burundi',
       'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada', 'Caribbean',
       'Caribbean Community and Common Market (CARICOM)',
       'Cayman Islands', 'Central African Republic', 'Central America',
       'Central Asia', 'Central European Free Trade Agreement (CEFTA)',
       'Central and Southern Asia', 'Chad', 'Channel Islands', 'Chile',
       'China', 'China (and dependencies)', 'China, Hong Kong SAR',
       'China, Macao SAR', 'China, Taiwan Province of China', 'Colombia',
       'Commonwealth of Independent States (CIS)',
       'Commonwealth of Nations', 'Commonwealth: Africa',
       'Commonwealth: Asia', 'Commonwealth: Caribbean and Americas',
       'Commonwealth: Europe', 'Commonwealth: Pacific', 'Comoros',
       'Congo', 'Cook Islands', 'Costa Rica',
       'Countries with Access to the Sea',
       'Countries with Access to the Sea: Africa',
       'Countries with Access to the Sea: Asia',
       'Countries with Access to the Sea: Europe',
       'Countries with Access to the Sea: Latin America and the Caribbean',
       'Countries with Access to the Sea: Northern America',
       'Countries with Access to the Sea: Oceania', 'Croatia', 'Cuba',
       'Curaao', 'Cyprus', 'Czechia', "Cte d'Ivoire",
       "Dem. People's Republic of Korea",
       'Democratic Republic of the Congo', 'Denmark',
       'Denmark (and dependencies)', 'Djibouti', 'Dominica',
       'Dominican Republic', 'ECE: North America-2', 'ECE: UNECE-52',
       'ECLAC: Latin America', 'ECLAC: The Caribbean',
       'ESCAP region: East and North-East Asia',
       'ESCAP region: North and Central Asia', 'ESCAP region: Pacific',
       'ESCAP region: South and South-West Asia',
       'ESCAP region: South-East Asia',
       'ESCAP: ADB Developing member countries (DMCs)',
       'ESCAP: ADB Group A (Concessional assistance\xa0only)',
       'ESCAP: ADB Group B\xa0(OCR blend)',
       'ESCAP: ADB Group C (Regular OCR only)', 'ESCAP: ASEAN',
       'ESCAP: Central Asia', 'ESCAP: ECO', 'ESCAP: HDI groups',
       'ESCAP: Landlocked countries (LLDCs)',
       'ESCAP: Least Developed Countries (LDCs)',
       'ESCAP: Pacific island dev. econ.', 'ESCAP: SAARC',
       'ESCAP: WB High income econ.', 'ESCAP: WB Low income econ.',
       'ESCAP: WB Lower middle income econ.',
       'ESCAP: WB Upper middle income econ.', 'ESCAP: WB income groups',
       'ESCAP: high HDI', 'ESCAP: high income', 'ESCAP: income groups',
       'ESCAP: low HDI', 'ESCAP: low income', 'ESCAP: lower middle HDI',
       'ESCAP: lower middle income',
       'ESCAP: other Asia-Pacific countries/areas',
       'ESCAP: upper middle HDI', 'ESCAP: upper middle income',
       'ESCWA: Arab countries', 'ESCWA: Arab least developed countries',
       'ESCWA: Gulf Cooperation Council countries',
       'ESCWA: Maghreb countries', 'ESCWA: Mashreq countries',
       'ESCWA: member countries', 'East African Community (EAC)',
       'Eastern Africa', 'Eastern Asia', 'Eastern Europe',
       'Eastern European Group', 'Eastern and South-Eastern Asia',
       'Economic Community of Central African States (ECCAS)',
       'Economic Community of West African States (ECOWAS)',
       'Economic Cooperation Organization (ECO)', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Eurasian Economic Community (Eurasec)',
       'Europe', 'Europe (48)', 'Europe and Northern America',
       'European Community (EC: 12)',
       'European Free Trade Agreement (EFTA)', 'European Union (EU: 15)',
       'European Union (EU: 28)', 'Falkland Islands (Malvinas)',
       'Faroe Islands', 'Fiji', 'Finland', 'France',
       'France (and dependencies)', 'French Guiana', 'French Polynesia',
       'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Gibraltar',
       'Greater Arab Free Trade Area (GAFTA)', 'Greece', 'Greenland',
       'Grenada', 'Group of 77 (G77)', 'Group of Eight (G8)',
       'Group of Seven (G7)', 'Group of Twenty (G20) - member states',
       'Guadeloupe', 'Guam', 'Guatemala', 'Guinea', 'Guinea-Bissau',
       'Gulf Cooperation Council (GCC)', 'Guyana', 'Haiti',
       'High-income countries', 'Holy See', 'Honduras', 'Hungary',
       'Iceland', 'India', 'Indonesia', 'Iran (Islamic Republic of)',
       'Iraq', 'Ireland', 'Isle of Man', 'Israel', 'Italy', 'Jamaica',
       'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Kuwait',
       'Kyrgyzstan', 'LLDC: Africa', 'LLDC: Asia', 'LLDC: Europe',
       'LLDC: Latin America', 'Land-locked Countries',
       'Land-locked Countries (Others)',
       'Land-locked Developing Countries (LLDC)',
       "Lao People's Democratic Republic",
       'Latin America and the Caribbean',
       'Latin American Integration Association (ALADI)',
       'Latin American and Caribbean Group (GRULAC)', 'Latvia',
       'League of Arab States (LAS, informal name: Arab League)',
       'Least developed countries', 'Least developed: Africa',
       'Least developed: Asia',
       'Least developed: Latin America and the Caribbean',
       'Least developed: Oceania', 'Lebanon', 'Lesotho',
       'Less developed regions',
       'Less developed regions, excluding China',
       'Less developed regions, excluding least developed countries',
       'Less developed: Africa', 'Less developed: Asia',
       'Less developed: Latin America and the Caribbean',
       'Less developed: Oceania', 'Liberia', 'Libya', 'Liechtenstein',
       'Lithuania', 'Low-income countries',
       'Lower-middle-income countries', 'Luxembourg', 'Madagascar',
       'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Marshall Islands', 'Martinique', 'Mauritania', 'Mauritius',
       'Mayotte', 'Melanesia', 'Mexico', 'Micronesia',
       'Micronesia (Fed. States of)', 'Middle Africa',
       'Middle-income countries', 'Monaco', 'Mongolia', 'Montenegro',
       'Montserrat', 'More developed regions', 'More developed: Asia',
       'More developed: Europe', 'More developed: Northern America',
       'More developed: Oceania', 'Morocco', 'Mozambique', 'Myanmar',
       'Namibia', 'Nauru', 'Nepal', 'Netherlands',
       'Netherlands (and dependencies)', 'New Caledonia',
       'New EU member states (joined since 2004)', 'New Zealand',
       'New Zealand (and dependencies)', 'Nicaragua', 'Niger', 'Nigeria',
       'Niue', 'No income group available',
       'Non-Self-Governing Territories',
       'North American Free Trade Agreement (NAFTA)',
       'North Atlantic Treaty Organization (NATO)', 'North Macedonia',
       'Northern Africa', 'Northern Africa and Western Asia',
       'Northern America', 'Northern Europe', 'Northern Mariana Islands',
       'Norway', 'Oceania',
       'Oceania (excluding Australia and New Zealand)', 'Oman',
       'Organisation for Economic Co-operation and Development (OECD)',
       'Organization for Security and Co-operation in Europe (OSCE)',
       'Organization of American States (OAS)',
       'Organization of Petroleum Exporting countries (OPEC)',
       'Organization of the Islamic Conference (OIC)', 'Pakistan',
       'Palau', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru',
       'Philippines', 'Poland', 'Polynesia', 'Portugal', 'Puerto Rico',
       'Qatar', 'Republic of Korea', 'Republic of Moldova', 'Romania',
       'Russian Federation', 'Rwanda', 'Runion',
       'SIDS Atlantic, and Indian Ocean, Mediterranean and South China Sea (AIMS)',
       'SIDS Caribbean', 'SIDS Pacific', 'Saint Barthlemy',
       'Saint Helena', 'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Martin (French part)', 'Saint Pierre and Miquelon',
       'Saint Vincent and the Grenadines', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Shanghai Cooperation Organization (SCO)',
       'Sierra Leone', 'Singapore', 'Sint Maarten (Dutch part)',
       'Slovakia', 'Slovenia', 'Small Island Developing States (SIDS)',
       'Solomon Islands', 'Somalia', 'South Africa', 'South America',
       'South Asian Association for Regional Cooperation (SAARC)',
       'South Sudan', 'South-Eastern Asia', 'Southern Africa',
       'Southern African Development Community (SADC)', 'Southern Asia',
       'Southern Common Market (MERCOSUR)', 'Southern Europe', 'Spain',
       'Sri Lanka', 'State of Palestine', 'Sub-Saharan Africa', 'Sudan',
       'Suriname', 'Sweden', 'Switzerland', 'Syrian Arab Republic',
       'Tajikistan', 'Thailand', 'Timor-Leste', 'Togo', 'Tokelau',
       'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey',
       'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu',
       'UN-ECE: member countries', 'UNFPA Regions',
       'UNFPA: Arab States (AS)', 'UNFPA: Asia and the Pacific (AP)',
       'UNFPA: East and Southern Africa (ESA)',
       'UNFPA: Eastern Europe and Central Asia (EECA)',
       'UNFPA: Latin America and the Caribbean (LAC)',
       'UNFPA: West and Central Africa (WCA)', 'UNICEF PROGRAMME REGIONS',
       'UNICEF Programme Regions: East Asia and Pacific (EAPRO)',
       'UNICEF Programme Regions: Eastern Caribbean',
       'UNICEF Programme Regions: Eastern and Southern Africa (ESARO)',
       'UNICEF Programme Regions: Europe and Central Asia (CEECIS)',
       'UNICEF Programme Regions: Latin America',
       'UNICEF Programme Regions: Latin America and Caribbean (LACRO)',
       'UNICEF Programme Regions: Middle East and North Africa (MENARO)',
       'UNICEF Programme Regions: South Asia (ROSA)',
       'UNICEF Programme Regions: West and Central Africa (WCARO)',
       'UNICEF REGIONS', 'UNICEF Regions: East Asia and Pacific',
       'UNICEF Regions: Eastern Europe and Central Asia',
       'UNICEF Regions: Eastern and Southern Africa',
       'UNICEF Regions: Europe and Central Asia',
       'UNICEF Regions: Latin America and Caribbean',
       'UNICEF Regions: Middle East and North Africa',
       'UNICEF Regions: North America', 'UNICEF Regions: South Asia',
       'UNICEF Regions: Sub-Saharan Africa',
       'UNICEF Regions: West and Central Africa',
       'UNICEF Regions: Western Europe',
       'UNITED NATIONS Regional Groups of Member States', 'Uganda',
       'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'United Kingdom (and dependencies)',
       'United Nations Economic Commission for Africa (UN-ECA)',
       'United Nations Economic Commission for Latin America and the Caribbean (UN-ECLAC)',
       'United Nations Economic and Social Commission for Asia and the Pacific (UN-ESCAP) Regions',
       'United Nations Member States', 'United Republic of Tanzania',
       'United States Virgin Islands', 'United States of America',
       'United States of America (and dependencies)',
       'Upper-middle-income countries', 'Uruguay', 'Uzbekistan',
       'Vanuatu', 'Venezuela (Bolivarian Republic of)', 'Viet Nam',
       'WB region: East Asia and Pacific (excluding high income)',
       'WB region: Europe and Central Asia (excluding high income)',
       'WB region: Latin America and Caribbean (excluding high income)',
       'WB region: Middle East and North Africa (excluding high income)',
       'WB region: South Asia (excluding high income)',
       'WB region: Sub-Saharan Africa (excluding high income)',
       'WHO Regions', 'WHO: African region (AFRO)',
       'WHO: Americas (AMRO)', 'WHO: Eastern Mediterranean Region (EMRO)',
       'WHO: European Region (EURO)',
       'WHO: South-East Asia region (SEARO)',
       'WHO: Western Pacific region (WPRO)', 'Wallis and Futuna Islands',
       'West African Economic and Monetary Union (UEMOA)',
       'Western Africa', 'Western Asia', 'Western Europe',
       'Western European and Others Group (WEOG)', 'Western Sahara',
       'World', 'World Bank Regional Groups (developing only)', 'Yemen',
       'Zambia', 'Zimbabwe'], dtype=object)

In [124]:
wp_all_list

['World',
 'Organisation for Economic Co-operation and Development (OECD)',
 'More developed regions',
 'ESCAP: ADB Developing member countries (DMCs)',
 'ESCAP: Least Developed Countries (LDCs)',
 'Australia',
 'Canada',
 'Chile',
 'European Union (EU: 28)',
 'Israel',
 'Japan',
 "Dem. People's Republic of Korea",
 'Mexico',
 'New Zealand',
 'Turkey',
 'United States of America',
 'WHO: European Region (EURO)',
 'Kazakhstan',
 'Russian Federation',
 'Ukraine',
 'Africa',
 'Algeria',
 'Egypt',
 'Ethiopia',
 'Ghana',
 'Mozambique',
 'Nigeria',
 'Sub-Saharan Africa',
 'South Africa',
 'Sudan',
 'United Republic of Tanzania',
 'Zambia',
 'Latin America and the Caribbean',
 'Argentina',
 'Brazil',
 'Colombia',
 'Haiti',
 'Peru',
 'Paraguay',
 'Uruguay',
 'Asia',
 'Bangladesh',
 'China',
 'India',
 'Indonesia',
 'Iran (Islamic Republic of)',
 'Malaysia',
 'Pakistan',
 'Philippines',
 'Saudi Arabia',
 'Thailand',
 'Viet Nam']

In [125]:
wp.head(1)

        Country  Time   PopTotal    PopMale  PopFemale
50  Afghanistan  2000  20779.957  10689.508  10090.449

In [126]:
mask = wp.Country.isin(wp_all_list)

In [127]:
wp[mask].sample(5)

                   Country  Time     PopTotal      PopMale    PopFemale
198325         Philippines  2092   197675.167    97407.498   100267.669
237760  Sub-Saharan Africa  2060  2812687.255  1405158.817  1407528.438
277577               World  2039  9460502.153  4763627.207  4696874.946
269917            Viet Nam  2029   101616.102    50629.531    50986.571
169647          Mozambique  2081   130397.599    64028.999    66368.600

In [128]:
wp1 = wp.loc[mask, ["Country","Time","PopTotal","PopMale","PopFemale"]]

In [129]:
wp1.sample(5)

           Country  Time     PopTotal      PopMale    PopFemale
116618       India  2044  1649400.593   852815.305   796585.288
19788   Bangladesh  2075   135430.293    66524.251    68889.487
3968       Algeria  2058    64321.490    32496.065    31825.425
12017         Asia  2000  3741263.352  1912363.401  1828899.951
48034        China  2079  1510046.121   776768.490   733277.631

In [130]:
wp1[wp1.Country=="African, Caribbean and Pacific (ACP) Group of States"]

Empty DataFrame
Columns: [Country, Time, PopTotal, PopMale, PopFemale]
Index: []

In [131]:
wp.shape

(257082, 5)

In [132]:
wp1.shape

(40537, 5)

In [133]:
wp1.Country.nunique()

52

#### Change the concurrent all country names as wa at wp1

In [134]:
wp1.sample(5)

                           Country  Time     PopTotal     PopMale   PopFemale
159875                      Mexico  2070   167987.914   82621.674   85366.240
150722                    Malaysia  2081    49005.466   25027.815   23977.651
237811          Sub-Saharan Africa  2030  1370019.451  684353.664  685665.787
118238  Iran (Islamic Republic of)  2058    99053.614   49743.595   49310.019
192702                    Pakistan  2097   924970.358  473382.398  451587.960

In [135]:
len(wp_all_list)

52

In [136]:
len(wa_all_list)

52

In [137]:
wp_all_dict = dict(zip(wp_all_list, wa_all_list))
wp_all_dict

{'World': 'World',
 'Organisation for Economic Co-operation and Development (OECD)': 'OECD',
 'More developed regions': 'Developed',
 'ESCAP: ADB Developing member countries (DMCs)': 'Developing',
 'ESCAP: Least Developed Countries (LDCs)': 'Least Developed Countries',
 'Australia': 'Australia',
 'Canada': 'Canada',
 'Chile': 'Chile',
 'European Union (EU: 28)': 'European Union-27',
 'Israel': 'Israel',
 'Japan': 'Japan',
 "Dem. People's Republic of Korea": 'Korea',
 'Mexico': 'Mexico',
 'New Zealand': 'New Zealand',
 'Turkey': 'Turkey',
 'United States of America': 'United States',
 'WHO: European Region (EURO)': 'EUROPE',
 'Kazakhstan': 'Kazakhstan',
 'Russian Federation': 'Russia',
 'Ukraine': 'Ukraine',
 'Africa': 'AFRICA',
 'Algeria': 'Algeria',
 'Egypt': 'Egypt',
 'Ethiopia': 'Ethiopia',
 'Ghana': 'Ghana',
 'Mozambique': 'Mozambique',
 'Nigeria': 'Nigeria',
 'Sub-Saharan Africa': 'Sub Saharan Africa',
 'South Africa': 'Republic of South Africa',
 'Sudan': 'Sudan',
 'United Republic of Tanzania': 'Tanzania',
 'Zambia': 'Zambia',
 'Latin America and the Caribbean': 'LATIN AMERICA AND CARIBBEAN',
 'Argentina': 'Argentina',
 'Brazil': 'Brazil',
 'Colombia': 'Colombia',
 'Haiti': 'Haiti',
 'Peru': 'Peru',
 'Paraguay': 'Paraguay',
 'Uruguay': 'Uruguay',
 'Asia': 'ASIA',
 'Bangladesh': 'Bangladesh',
 'China': 'China',
 'India': 'India',
 'Indonesia': 'Indonesia',
 'Iran (Islamic Republic of)': 'Iran',
 'Malaysia': 'Malaysia',
 'Pakistan': 'Pakistan',
 'Philippines': 'Philippines',
 'Saudi Arabia': 'Saudi Arabia',
 'Thailand': 'Thailand',
 'Viet Nam': 'VietNam'}

In [138]:
wp1[wp1.Country=="Organisation for Economic Co-operation and Development (OECD)"].head(2)

,Country,Time,PopTotal,PopMale,PopFemale
191607,Organisation for Economic Co-operation and Dev...,2000,1155286.565,566714.934,588571.631
191608,Organisation for Economic Co-operation and Dev...,2001,1163475.156,570810.829,592664.327

In [139]:
wp1["Country"].replace(wp_all_dict, inplace=True)

In [140]:
wp1[wp1.Country=="Organisation for Economic Co-operation and Development (OECD)"].head(2)

Empty DataFrame
Columns: [Country, Time, PopTotal, PopMale, PopFemale]
Index: []

#### Drop the "OECD countries" & "Non-OECD" values from wa

In [141]:
wa[wa["Country"]=="OECD countries"].head(5)

,Country,Commodity,Var_abbr,Var_mean,Var_expl,Time,Value,PopTotal,PopMale,PopFemale
1556,OECD countries,Wheat,QP,Production,"Production, kt (for Biofuels in millions of li...",2000,269144.4766,OECD countries,OECD countries,OECD countries
1557,OECD countries,Wheat,QP,Production,"Production, kt (for Biofuels in millions of li...",2001,249739.4752,OECD countries,OECD countries,OECD countries
1558,OECD countries,Wheat,QP,Production,"Production, kt (for Biofuels in millions of li...",2002,229837.7329,OECD countries,OECD countries,OECD countries
1559,OECD countries,Wheat,QP,Production,"Production, kt (for Biofuels in millions of li...",2003,249871.4523,OECD countries,OECD countries,OECD countries
1560,OECD countries,Wheat,QP,Production,"Production, kt (for Biofuels in millions of li...",2004,281502.1956,OECD countries,OECD countries,OECD countries

In [142]:
wa.drop(list(wa[wa["Country"]=="OECD countries"].index.values), inplace=True)

In [143]:
wa[wa["Country"]=="OECD countries"]

Empty DataFrame
Columns: [Country, Commodity, Var_abbr, Var_mean, Var_expl, Time, Value, PopTotal, PopMale, PopFemale]
Index: []

In [144]:
wa[wa["Country"]=="Non-OECD"].head(5)

,Country,Commodity,Var_abbr,Var_mean,Var_expl,Time,Value,PopTotal,PopMale,PopFemale
528,Non-OECD,Wheat,QP,Production,"Production, kt (for Biofuels in millions of li...",2000,316561.1031,Non-OECD,Non-OECD,Non-OECD
529,Non-OECD,Wheat,QP,Production,"Production, kt (for Biofuels in millions of li...",2001,338871.0001,Non-OECD,Non-OECD,Non-OECD
530,Non-OECD,Wheat,QP,Production,"Production, kt (for Biofuels in millions of li...",2002,343659.8801,Non-OECD,Non-OECD,Non-OECD
531,Non-OECD,Wheat,QP,Production,"Production, kt (for Biofuels in millions of li...",2003,310399.0781,Non-OECD,Non-OECD,Non-OECD
532,Non-OECD,Wheat,QP,Production,"Production, kt (for Biofuels in millions of li...",2004,349839.3341,Non-OECD,Non-OECD,Non-OECD

In [145]:
wa.drop(list(wa[wa["Country"]=="Non-OECD"].index.values), inplace=True)

In [146]:
wa[wa["Country"]=="Non-OECD"]

Empty DataFrame
Columns: [Country, Commodity, Var_abbr, Var_mean, Var_expl, Time, Value, PopTotal, PopMale, PopFemale]
Index: []

#### Drop duplicated values if present

In [147]:
wa.duplicated(keep="last").value_counts()

False    190770
dtype: int64

In [148]:
wa.drop_duplicates(keep="last", inplace=True)

In [149]:
wa.duplicated(keep="last").value_counts()

False    190770
dtype: int64

In [150]:
wa.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 190770 entries, 0 to 197738
Data columns (total 10 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Country    190770 non-null  object
 1   Commodity  190770 non-null  object
 2   Var_abbr   190770 non-null  object
 3   Var_mean   190770 non-null  object
 4   Var_expl   190770 non-null  object
 5   Time       190770 non-null  int64
 6   Value      190770 non-null  float64
 7   PopTotal   190770 non-null  object
 8   PopMale    190770 non-null  object
 9   PopFemale  190770 non-null  object
dtypes: float64(1), int64(1), object(8)
memory usage: 16.0+ MB

#### Drop null values if present

In [151]:
wa.isnull().value_counts().sum()

190770

#### Convert the types of population & year to int

In [152]:
wa.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 190770 entries, 0 to 197738
Data columns (total 10 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Country    190770 non-null  object
 1   Commodity  190770 non-null  object
 2   Var_abbr   190770 non-null  object
 3   Var_mean   190770 non-null  object
 4   Var_expl   190770 non-null  object
 5   Time       190770 non-null  int64
 6   Value      190770 non-null  float64
 7   PopTotal   190770 non-null  object
 8   PopMale    190770 non-null  object
 9   PopFemale  190770 non-null  object
dtypes: float64(1), int64(1), object(8)
memory usage: 16.0+ MB

In [153]:
wa['PopTotal'] = pd.to_numeric(wa['PopTotal'],errors='coerce')
wa['PopMale'] = pd.to_numeric(wa['PopMale'],errors='coerce')
wa['PopFemale'] = pd.to_numeric(wa['PopFemale'],errors='coerce')

In [154]:
cy['years'] = cy['years'].fillna(0).astype(np.int64)

In [155]:
wa.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 190770 entries, 0 to 197738
Data columns (total 10 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Country    190770 non-null  object
 1   Commodity  190770 non-null  object
 2   Var_abbr   190770 non-null  object
 3   Var_mean   190770 non-null  object
 4   Var_expl   190770 non-null  object
 5   Time       190770 non-null  int64
 6   Value      190770 non-null  float64
 7   PopTotal   0 non-null       float64
 8   PopMale    0 non-null       float64
 9   PopFemale  0 non-null       float64
dtypes: float64(4), int64(1), object(5)
memory usage: 16.0+ MB

In [156]:
cy.dtypes

wa_all        object
wa_country    object
wa_org        object
wp_all        object
wp_country    object
wp_org        object
years          int64
abbrv         object
meaning       object
dtype: object

#### Assigning population values from wp1 to wa population columns

In [157]:
wp1[wp1["Country"]=="World"].head(2)

       Country  Time     PopTotal      PopMale    PopFemale
277295   World  2000  6143493.806  3093433.858  3050059.948
277296   World  2001  6222626.531  3133601.761  3089024.770

In [158]:
wa[wa["Country"]=="World"].head(2)

,Country,Commodity,Var_abbr,Var_mean,Var_expl,Time,Value,PopTotal,PopMale,PopFemale
0,World,Wheat,QP,Production,"Production, kt (for Biofuels in millions of li...",2000,585705.5797,NaN,NaN,NaN
1,World,Wheat,QP,Production,"Production, kt (for Biofuels in millions of li...",2001,588610.4753,NaN,NaN,NaN

In [159]:
wp1.Country.nunique()

52

In [160]:
wa.Country.nunique()

52

In [161]:
wp1_cntry_list = list(wp1.Country.unique())

In [162]:
def PopTotal_func (cntlist, yearlist):
    for a in cntlist:
        for b in yearlist:
            q = list(wp1[(wp1["Country"]==a) & (wp1["Time"]==b)].index.values)[0]
            p = wp1.loc[q, "PopTotal"]
            wa.loc[(wa["Country"]==a) & (wa["Time"]==b), "PopTotal"] = p

In [163]:
PopTotal_func(wp1_cntry_list,years_list)

In [164]:
wa[(wa.Country=="World") & (wa.Time==2006)].head(1)

,Country,Commodity,Var_abbr,Var_mean,Var_expl,Time,Value,PopTotal,PopMale,PopFemale
6,World,Wheat,QP,Production,"Production, kt (for Biofuels in millions of li...",2006,600783.4302,6623517.917,NaN,NaN

In [165]:
wp1[(wp1.Country=="World") & (wp1.Time==2006)].head(1)

       Country  Time     PopTotal      PopMale    PopFemale
277301   World  2006  6623517.917  3338132.929  3285384.988

In [166]:
def PopMale_func (cntlist, yearlist):
    for a in cntlist:
        for b in yearlist:
            q = list(wp1[(wp1["Country"]==a) & (wp1["Time"]==b)].index.values)[0]
            p = wp1.loc[q, "PopMale"]
            wa.loc[(wa["Country"]==a) & (wa["Time"]==b), "PopMale"] = p

In [167]:
PopMale_func(wp1_cntry_list,years_list)

In [168]:
wa[(wa.Country=="World") & (wa.Time==2006)].head(1)

,Country,Commodity,Var_abbr,Var_mean,Var_expl,Time,Value,PopTotal,PopMale,PopFemale
6,World,Wheat,QP,Production,"Production, kt (for Biofuels in millions of li...",2006,600783.4302,6623517.917,3338132.929,NaN

In [169]:
wp1[(wp1.Country=="World") & (wp1.Time==2006)].head(1)

       Country  Time     PopTotal      PopMale    PopFemale
277301   World  2006  6623517.917  3338132.929  3285384.988

In [170]:
def PopFemale_func (cntlist, yearlist):
    for a in cntlist:
        for b in yearlist:
            q = list(wp1[(wp1["Country"]==a) & (wp1["Time"]==b)].index.values)[0]
            p = wp1.loc[q, "PopFemale"]
            wa.loc[(wa["Country"]==a) & (wa["Time"]==b), "PopFemale"] = p

In [171]:
PopFemale_func(wp1_cntry_list,years_list)

In [172]:
wa[(wa.Country=="World") & (wa.Time==2006)].head(1)

,Country,Commodity,Var_abbr,Var_mean,Var_expl,Time,Value,PopTotal,PopMale,PopFemale
6,World,Wheat,QP,Production,"Production, kt (for Biofuels in millions of li...",2006,600783.4302,6623517.917,3338132.929,3285384.988

In [173]:
wp1[(wp1.Country=="World") & (wp1.Time==2006)].head(1)

       Country  Time     PopTotal      PopMale    PopFemale
277301   World  2006  6623517.917  3338132.929  3285384.988

#### Creating Organizations Dataset from wa

In [174]:
wa[wa["Country"]==("OECD countries", "Non-OECD")].head(3)

Empty DataFrame
Columns: [Country, Commodity, Var_abbr, Var_mean, Var_expl, Time, Value, PopTotal, PopMale, PopFemale]
Index: []

In [175]:
wa_org_list

['World',
 'OECD',
 'Developed',
 'Developing',
 'Least Developed Countries',
 'European Union-27',
 'EUROPE',
 'AFRICA',
 'LATIN AMERICA AND CARIBBEAN',
 'ASIA']

In [176]:
Data_World = wa[wa["Country"]=="World"]
Data_OECD = wa[wa["Country"]=="OECD"]
Data_Developed = wa[wa["Country"]=="Developed"]
Data_Developing = wa[wa["Country"]=="Developing"]
Data_LDC = wa[wa["Country"]=="Least Developed Countries"]
Data_EU27 = wa[wa["Country"]=="European Union-27"]
Data_EU = wa[wa["Country"]=="EUROPE"]
Data_Africa = wa[wa["Country"]=="AFRICA"]
Data_Lat_Amer = wa[wa["Country"]=="LATIN AMERICA AND CARIBBEAN"]
Data_Asia = wa[wa["Country"]=="ASIA"]

In [177]:
Data_World.head(5)

,Country,Commodity,Var_abbr,Var_mean,Var_expl,Time,Value,PopTotal,PopMale,PopFemale
0,World,Wheat,QP,Production,"Production, kt (for Biofuels in millions of li...",2000,585705.5797,6143493.806,3093433.858,3050059.948
1,World,Wheat,QP,Production,"Production, kt (for Biofuels in millions of li...",2001,588610.4753,6222626.531,3133601.761,3089024.770
2,World,Wheat,QP,Production,"Production, kt (for Biofuels in millions of li...",2002,573497.6130,6301773.172,3173900.449,3127872.723
3,World,Wheat,QP,Production,"Production, kt (for Biofuels in millions of li...",2003,560270.5304,6381185.141,3214422.031,3166763.110
4,World,Wheat,QP,Production,"Production, kt (for Biofuels in millions of li...",2004,631341.5297,6461159.391,3255262.626,3205896.765

#### Creating Country_Only Dataset from wa as wa1

In [178]:
wa = wa.set_index("Country")

In [179]:
wa.columns

Index(['Commodity', 'Var_abbr', 'Var_mean', 'Var_expl', 'Time', 'Value',
       'PopTotal', 'PopMale', 'PopFemale'],
      dtype='object')

In [180]:
wa1 = wa.copy()

In [181]:
wa_org_list

['World',
 'OECD',
 'Developed',
 'Developing',
 'Least Developed Countries',
 'European Union-27',
 'EUROPE',
 'AFRICA',
 'LATIN AMERICA AND CARIBBEAN',
 'ASIA']

In [182]:
wa1.drop(index=wa_org_list, inplace=True)

In [183]:
wa1.sample(5)

,Commodity,Var_abbr,Var_mean,Var_expl,Time,Value,PopTotal,PopMale,PopFemale
Country,,,,,,,,,
Japan,Vegetable oils,QP,Production,"Production, kt (for Biofuels in millions of li...",2017,1440.273359,127502.728,62282.219,65220.509
Peru,Skim milk powder (pw),EX,Exports,"Exports, kt (for Biofuels in millions of litres)",2009,0.033000,28792.663,14361.216,14431.447
Peru,Coarse grains,NT,Trade_balance,"Trade balance, kt (for Biofuels in millions of...",2019,-2782.600350,32510.462,16148.241,16362.221
Turkey,Protein meals,NT,Trade_balance,"Trade balance, kt (for Biofuels in millions of...",2012,-943.995116,74651.046,36708.592,37942.454
Uruguay,Sheepmeat(cwe),EX,Exports,"Exports, kt (for Biofuels in millions of litres)",2010,15.183343,3359.273,1618.886,1740.387

In [184]:
wa1.reset_index(inplace=True)

In [185]:
wa1.head(3)

,Country,Commodity,Var_abbr,Var_mean,Var_expl,Time,Value,PopTotal,PopMale,PopFemale
0,Australia,Wheat,QP,Production,"Production, kt (for Biofuels in millions of li...",2000,22108.0,18991.434,9473.544,9517.890
1,Australia,Wheat,QP,Production,"Production, kt (for Biofuels in millions of li...",2001,24298.0,19194.676,9577.028,9617.648
2,Australia,Wheat,QP,Production,"Production, kt (for Biofuels in millions of li...",2002,10132.0,19401.366,9680.332,9721.034

In [186]:
wa.reset_index(inplace=True)

In [187]:
wa.head(3)

,Country,Commodity,Var_abbr,Var_mean,Var_expl,Time,Value,PopTotal,PopMale,PopFemale
0,World,Wheat,QP,Production,"Production, kt (for Biofuels in millions of li...",2000,585705.5797,6143493.806,3093433.858,3050059.948
1,World,Wheat,QP,Production,"Production, kt (for Biofuels in millions of li...",2001,588610.4753,6222626.531,3133601.761,3089024.770
2,World,Wheat,QP,Production,"Production, kt (for Biofuels in millions of li...",2002,573497.6130,6301773.172,3173900.449,3127872.723

In [188]:
wa1[wa1["Country"]=="Australia"].head(3)

,Country,Commodity,Var_abbr,Var_mean,Var_expl,Time,Value,PopTotal,PopMale,PopFemale
0,Australia,Wheat,QP,Production,"Production, kt (for Biofuels in millions of li...",2000,22108.0,18991.434,9473.544,9517.890
1,Australia,Wheat,QP,Production,"Production, kt (for Biofuels in millions of li...",2001,24298.0,19194.676,9577.028,9617.648
2,Australia,Wheat,QP,Production,"Production, kt (for Biofuels in millions of li...",2002,10132.0,19401.366,9680.332,9721.034

In [189]:
wa1[wa1["Country"]==("World", "OECD", "Developed")].head(3)

Empty DataFrame
Columns: [Country, Commodity, Var_abbr, Var_mean, Var_expl, Time, Value, PopTotal, PopMale, PopFemale]
Index: []

#### Download the last versions of wa & wa1 & wp & wp1 & cy

In [190]:
wa.to_csv("wa_for_visualization.csv")
wa1.to_csv("wa1_for_visualization.csv")
wp.to_csv("wp_for_visualization.csv")
wp1.to_csv("wp1_for_visualization.csv")
cy.to_csv("cy_for_visualization.csv")

#### Useful Codes

In [191]:
df['IQR'] = df.groupby(["Country", "Commodity", "VARIABLE"])['Value'].agg(iqr)

SyntaxError: unexpected EOF while parsing (4116460616.py, line 1)

In [ ]:
(["sum","mean","median","mode","max","min","std","var","",""]).

In [ ]:
wp.Location.isin(Out_Cntry_List).sum()

884

In [ ]:
Q1 = np.quantile(df.Value, 0.25)
Q3 = np.quantile(df.Value, 0.75)
IQR = Q3-Q1
Q0 = Q1 - (IQR*1.5)
Q4 = Q3 + (IQR*1.5)

In [ ]:
wa_country_list = [s.strip() for s in list(cy.wa_country.unique())]

In [ ]:
country_list_wp = [s.strip() for s in list(cy.Country_wp.unique())]

In [ ]:
df['column name'] = df['column name'].fillna(0).astype(np.int64)

In [ ]:
cy.years = pd.to_numeric(cy.years,errors='coerce')

In [ ]:
cy.years.round(0).astype(int)