World_Education Outlook (2013-2018)

Objective:

    1. This

OECD Source Link: https://stats.oecd.org//Index.aspx?QueryId=113447

In [1]:
import requests as rq
import pandas as pd
import re
import html5lib
from pandas.io.json import json_normalize
import urllib.request

In [2]:
df = pd.read_csv("World_Education.csv")

In [3]:
df.head()

,COUNTRY,Country,VARIABLE,Variable,UNIT,Unit,MEASURE,Measure,TIME,Time,Value,Flag Codes,Flags
0,CAB,Alberta (Canada),1_T000,Female teachers,PERCENTAGE,Percentage,VAL,Value,2013,2013,60.299999,NaN,NaN
1,CAB,Alberta (Canada),1_T000,Female teachers,PERCENTAGE,Percentage,VAL,Value,2018,2018,63.500000,NaN,NaN
2,CAB,Alberta (Canada),1_T029,Teachers aged 50 and above,PERCENTAGE,Percentage,VAL,Value,2013,2013,21.400000,NaN,NaN
3,CAB,Alberta (Canada),1_T029,Teachers aged 50 and above,PERCENTAGE,Percentage,VAL,Value,2018,2018,20.400000,NaN,NaN
4,CAB,Alberta (Canada),2_T004,Female principals,PERCENTAGE,Percentage,VAL,Value,2013,2013,43.099998,NaN,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9756 entries, 0 to 9755
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   COUNTRY     9756 non-null   object
 1   Country     9756 non-null   object
 2   VARIABLE    9756 non-null   object
 3   Variable    9756 non-null   object
 4   UNIT        9756 non-null   object
 5   Unit        9756 non-null   object
 6   MEASURE     9756 non-null   object
 7   Measure     9756 non-null   object
 8   TIME        9756 non-null   int64
 9   Time        9756 non-null   int64
 10  Value       9042 non-null   float64
 11  Flag Codes  714 non-null    object
 12  Flags       714 non-null    object
dtypes: float64(1), int64(2), object(10)
memory usage: 991.0+ KB